{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/plants/plant-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ plant.name }}</h1>
    {% if plant.age > 0 %}
      <h2>A {{ plant.age }} year old {{ plant.species }}</h2>
    {% else %}
      <h2>A {{ plant.plant }} small plant</h2>
    {% endif %}
    <p>{{ plant.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
      <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}